In [6]:
# Import Modules
import pandas as pd

 # DataFrame from Series

In [7]:
# Create two series
opening_prices = pd.Series(
    {"MSFT": 160.32, "AAPL": 75.11, "TWTR": 32.52}, name="Opening Price"
)

closing_prices = pd.Series(
    {"MSFT": 158.23, "AAPL": 77.65, "TWTR": 33.08}, name="Closing Price"
)

In [8]:
# Create DataFrame
prices_df = pd.DataFrame(data=[opening_prices, closing_prices])

# Show DataFrame
prices_df

                 MSFT   AAPL   TWTR
Opening Price  160.32  75.11  32.52
Closing Price  158.23  77.65  33.08

 ## Transposition

In [11]:
# Transpose prices_df
prices_df = prices_df.T

In [12]:
prices_df

      Opening Price  Closing Price
MSFT         160.32         158.23
AAPL          75.11          77.65
TWTR          32.52          33.08

In [ ]:
# Save T output to prices_df

# Show DataFrame

 ## Accessing Columns

In [19]:
# Access the Opening Price column
temp_series = prices_df['Opening Price']

In [ ]:
# Check type of column
type(prices_df['Opening Price'])

In [21]:
# Retrieve AAPL opening price by location
prices_df['Opening Price']['AAPL']

75.11

In [22]:
# Retrieve AAPL opening price by key
prices_df['Opening Price'][1]

75.11

In [23]:
prices_df

      Opening Price  Closing Price
MSFT         160.32         158.23
AAPL          75.11          77.65
TWTR          32.52          33.08

 ## Accessing Rows

In [24]:
# Retrieve the MSFT row
prices_df.loc["MSFT"]

Opening Price    160.32
Closing Price    158.23
Name: MSFT, dtype: float64

In [25]:
# Check type
type(prices_df.loc["MSFT"])

pandas.core.series.Series

In [26]:
# Retrieve MSFT closing price by key
prices_df.loc["MSFT"]["Closing Price"]

158.23

In [27]:
# Retrieve MSFT closing price by location
prices_df.loc['MSFT'][1]

158.23

 # DataFrame from Dictionary

In [28]:
# Dictionary of temperature values
daily_temperature_range = {
    "Monday": [50, 75],
    "Tuesday": [52, 73],
    "Wednesday": [53, 73],
    "Thursday": [55, 80],
    "Friday": [56, 79],
    "Saturday": [55, 81],
    "Sunday": [55, 80],
}

In [29]:
daily_temperature_range

{'Monday': [50, 75],
 'Tuesday': [52, 73],
 'Wednesday': [53, 73],
 'Thursday': [55, 80],
 'Friday': [56, 79],
 'Saturday': [55, 81],
 'Sunday': [55, 80]}

In [31]:
# Create DataFrame
temperature_df = pd.DataFrame(data=daily_temperature_range, index=["Low", "High"])

# Show DataFrame
temperature_df

      Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
Low       50       52         53        55      56        55      55
High      75       73         73        80      79        81      80

In [32]:
# DataFrame transposition
temperature_df = temperature_df.T

# Show the DataFrame
temperature_df

           Low  High
Monday      50    75
Tuesday     52    73
Wednesday   53    73
Thursday    55    80
Friday      56    79
Saturday    55    81
Sunday      55    80

In [33]:
# Check type
type(temperature_df['Low'])

pandas.core.series.Series

In [35]:
# Check type
type(temperature_df.loc['Monday'])

pandas.core.series.Series