# SQL Joins

## Create the database

In [1]:
# Import modules
import sqlalchemy as sql

In [2]:
# Database filepath
database_connection_string = 'sqlite:///../Resources/bank_payments.db'

In [3]:
# Database connection object
engine = sql.create_engine(database_connection_string,echo=True)

In [4]:
# Get table names from the database
engine.table_names()

2021-04-13 15:48:33,285 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-04-13 15:48:33,286 INFO sqlalchemy.engine.base.Engine ()
2021-04-13 15:48:33,287 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-04-13 15:48:33,287 INFO sqlalchemy.engine.base.Engine ()
2021-04-13 15:48:33,288 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-04-13 15:48:33,289 INFO sqlalchemy.engine.base.Engine ()

['banks', 'customer', 'payments']

## Review the table data

In [5]:
# Review the banks table data
banks_query = "SELECT * FROM banks"

# Execute the sql query
banks = engine.execute(banks_query)

# List the results data
list(banks)

2021-04-13 15:48:36,117 INFO sqlalchemy.engine.base.Engine SELECT * FROM banks
2021-04-13 15:48:36,118 INFO sqlalchemy.engine.base.Engine ()

[('bank_id', 'bank_name', 'bank_routing_number'),
 (1, 'Bank of America', 198491827),
 (2, 'Wells Fargo', 629873495),
 (3, 'JPMorgan Chase', 2340903984),
 (4, 'Citigroup', 890123900),
 (5, 'TD Bank', 905192010),
 (6, 'Capital One', 184619239),
 (7, 'Ally Bank', 316289502),
 (8, 'Discover Bank', 639893944),
 (9, 'Bank of New York Mellon', 8734569384)]

In [7]:
# Review the banks table data
payments_query = "SELECT * FROM payments"

# Execute the sql query
payments = engine.execute(payments_query)

# List the results data
list(payments)

2021-04-13 15:48:59,309 INFO sqlalchemy.engine.base.Engine SELECT * FROM payments
2021-04-13 15:48:59,310 INFO sqlalchemy.engine.base.Engine ()

[('payment_id', 'bank_number', 'bank_routing_number', 'customer_id'),
 (1, 9269877403, 905192010, 1),
 (2, 82888733522, 629873495, 2),
 (3, 20862689216, 905192010, 3),
 (4, 87342300762, 890123900, 4),
 (5, 32016806394, 629873495, 5),
 (6, 89178109018, 890123900, 6),
 (7, 11398000774, 2340903984, 7),
 (8, 22787074845, 890123900, 8),
 (9, 60706346980, 890123900, 9),
 (10, 12654009617, 184619239, 10),
 (11, 51632282614, 629873495, 11),
 (12, 68456483309, 905192010, 12),
 (13, 73015643543, 2340903984, 13),
 (14, 66653098136, 905192010, 14),
 (15, 73639983258, 184619239, 15),
 (16, 68191577695, 890123900, 16),
 (17, 1130813569, 890123900, 17),
 (18, 46731417034, 2340903984, 18),
 (19, 69004996851, 184619239, 19),
 (20, 75032806086, 905192010, 20),
 (21, 65612468052, 890123900, 21),
 (22, 76163431193, 629873495, 22),
 (23, 31125785634, 629873495, 23),
 (24, 64250427325, 184619239, 24),
 (25, 7284515287, 198491827, 25),
 (26, 36243682622, 2340903984, 26),
 (27, 6802893682, 629873495, 27),
 (28, 48975373191, 2340903984, 28),
 (29, 55317680318, 629873495, 29),
 (30, 6957425936, 905192010, 30),
 (31, 87596526571, 2340903984, 31),
 (32, 32237372412, 2340903984, 32),
 (33, 50668921877, 2340903984, 33),
 (34, 31905656087, 629873495, 34),
 (35, 76887338713, 2340903984, 35),
 (36, 53202638817, 890123900, 36),
 (37, 48862241090, 629873495, 37),
 (38, 16179523315, 890123900, 38),
 (39, 31525433090, 890123900, 39),
 (40, 86346682262, 905192010, 40),
 (41, 94169987556, 198491827, 41),
 (42, 15257433300, 629873495, 42),
 (43, 89793281199, 890123900, 43),
 (44, 61899463671, 905192010, 44),
 (45, 15097116063, 2340903984, 45),
 (46, 14287899182, 905192010, 46),
 (47, 50466419650, 2340903984, 47),
 (48, 13036169817, 905192010, 48),
 (49, 99461190391, 890123900, 49),
 (50, 46824584329, 905192010, 50),
 (51, 98733625849, 2340903984, 51),
 (52, 54406399670, 890123900, 52),
 (53, 23337525652, 890123900, 53),
 (54, 99135542058, 905192010, 54),
 (55, 79382904819, 198491827, 55),
 (56, 51891860969, 629873495, 56),
 (57, 967477448, 890123900, 57),
 (58, 43950731817, 198491827, 58),
 (59, 83587629692, 2340903984, 59),
 (60, 50677857318, 2340903984, 60),
 (61, 30030690448, 2340903984, 61),
 (62, 24846297310, 890123900, 62),
 (63, 97451406215, 2340903984, 63),
 (64, 76772259664, 184619239, 64),
 (65, 40622611365, 184619239, 65),
 (66, 22259674175, 890123900, 66),
 (67, 68396653143, 184619239, 67),
 (68, 30665947105, 2340903984, 68),
 (69, 64854709670, 905192010, 69),
 (70, 50770824681, 184619239, 70),
 (71, 77586925062, 629873495, 71),
 (72, 63409835848, 184619239, 72),
 (73, 48199192552, 198491827, 73),
 (74, 81986012181, 184619239, 74),
 (75, 25129785289, 629873495, 75),
 (76, 1895042747, 198491827, 76),
 (77, 84383348363, 890123900, 77),
 (78, 28339725980, 2340903984, 78),
 (79, 84018214168, 905192010, 79),
 (80, 76687857530, 905192010, 80),
 (81, 56872804020, 629873495, 81),
 (82, 81600174551, 184619239, 82),
 (83, 45952835629, 629873495, 83),
 (84, 76348348196, 890123900, 84),
 (85, 53314019780, 2340903984, 85),
 (86, 31145283096, 905192010, 86),
 (87, 21794275834, 184619239, 87),
 (88, 90101392782, 905192010, 88),
 (89, 56801480654, 184619239, 89),
 (90, 76630743188, 905192010, 90),
 (91, 74801502311, 890123900, 91),
 (92, 58818848296, 905192010, 92),
 (93, 53453433797, 890123900, 93),
 (94, 41788548337, 905192010, 94),
 (95, 44728748510, 905192010, 95),
 (96, 51737126284, 890123900, 96),
 (97, 5848472535, 629873495, 97),
 (98, 48749064404, 198491827, 98),
 (99, 93467025920, 166846533, 99),
 (100, 72002809830, 166846533, 100)]

In [17]:
# Review the customer table data
customer_query = "SELECT * FROM customer"

# Execute the sql query
customer = engine.execute(customer_query)

# List the results data
list(customer)

2021-04-13 16:29:38,738 INFO sqlalchemy.engine.base.Engine SELECT * FROM customer
2021-04-13 16:29:38,739 INFO sqlalchemy.engine.base.Engine ()

[('customer_id', 'first_name', 'last_name', 'age', 'address', 'city', 'state', 'zip_code'),
 (1, 'Michael', 'Meyer', 24, '1021 Eddie Knolls Apt. 087', 'South Geraldton', 'RI', '43709'),
 (2, 'Cindy', 'Stephens', 23, '838 Brown Street', 'East Christina', 'MT', '7829'),
 (3, 'John', 'Jackson', 34, '5319 Candice Motorway', 'Adkinstown', 'AZ', '89721'),
 (4, 'Alexander', 'Martinez', 32, 'USNS Mosley', 'FPO', 'AA', '24673'),
 (5, 'John', 'Pugh', 36, '175 Sullivan Isle Suite 666', 'Brendanshire', 'KY', '25231'),
 (6, 'Ashley', 'Chan', 34, '108 Lee Parkway', 'Deborahberg', 'OK', '20955'),
 (7, 'Matthew', 'Kramer', 34, 'Unit 5957 Box 6186', 'DPO', 'AP', '74424'),
 (8, 'Tammy', 'Soto', 27, '23071 Renee Land', 'Jamieville', 'MO', '40734'),
 (9, 'Christopher', 'Kirby', 18, '1052 Edward Knoll Suite 288', 'New Regina', 'WY', '50805'),
 (10, 'Krystal', 'Huang', 21, '811 Linda Ridge Suite 074', 'Port Andrea', 'WY', '79992'),
 (11, 'Sandra', 'Jimenez', 34, 'Unit 8878 Box 9370', 'DPO', 'AA', '47704'),
 (12, 'Dawn', 'Black', 26, '253 Emily Union Apt. 809', 'Port Wendyside', 'NE', '10784'),
 (13, 'Christina', 'Henderson', 33, '2407 Gavin River', 'South Brittneyton', 'MT', '62396'),
 (14, 'Sheila', 'Foster', 33, '5360 Rebecca Circles', 'Josephchester', 'AZ', '51015'),
 (15, 'Marvin', 'Cruz', 25, '8667 Henderson Isle Suite 805', 'East Robertview', 'AR', '14934'),
 (16, 'Shannon', 'Thompson', 30, '49367 Perkins Burg Apt. 845', 'Michaelburgh', 'IA', '43200'),
 (17, 'Jessica', 'Brown', 33, '72547 John Village', 'Estesstad', 'ID', '41957'),
 (18, 'George', 'Scott', 36, '8882 Morales Mews', 'South Courtneybury', 'NH', '18411'),
 (19, 'Gregory', 'Green', 36, '4148 Mullen Mountain', 'Lake Mollychester', 'MD', '26998'),
 (20, 'Brooke', 'Armstrong', 33, 'PSC 4729, Box 2681', 'APO', 'AP', '65043'),
 (21, 'Bethany', 'Williams', 27, '4886 Mills Dale Suite 147', 'Justinmouth', 'AZ', '50230'),
 (22, 'Sherry', 'Mooney', 28, 'PSC 9039, Box 7200', 'APO', 'AP', '47690'),
 (23, 'Stephen', 'Guerrero', 20, '14009 Robin Burgs', 'Michaelborough', 'NV', '41397'),
 (24, 'Brandon', 'Lewis', 30, '9514 Andrea Heights', 'Port Williemouth', 'NJ', '10383'),
 (25, 'William', 'Morris', 20, '10016 Brianna Corners', 'Spencerborough', 'HI', '30578'),
 (26, 'Meredith', 'Turner', 34, '85625 Amanda Rest Apt. 602', 'Jessicamouth', 'VT', '79948'),
 (27, 'Dawn', 'Meyers', 29, '74311 Sandra Fork', 'Danielhaven', 'NJ', '74384'),
 (28, 'Frank', 'Morales', 30, '106 Jacobson Cape Suite 271', 'East Darren', 'OH', '22376'),
 (29, 'Rebecca', 'Robertson', 39, '630 Gallagher Springs Suite 091', 'Martinezton', 'CO', '97611'),
 (30, 'Nicholas', 'Brown', 29, '75960 Mcguire Prairie', 'Aprilhaven', 'AL', '80265'),
 (31, 'Vernon', 'Johnston', 24, '1410 Stevens Underpass Suite 213', 'Jefferymouth', 'NY', '51400'),
 (32, 'Sandra', 'Rodriguez', 28, '5761 Leslie Islands', 'Mendozachester', 'HI', '79939'),
 (33, 'Jennifer', 'Cooper', 26, '85295 Baker Loop Suite 699', 'Jonesland', 'NH', '72283'),
 (34, 'Adam', 'Jones', 32, '99630 Martin Throughway', 'West Timothybury', 'OH', '1931'),
 (35, 'Thomas', 'Hart', 19, 'USNV Henderson', 'FPO', 'AA', '89241'),
 (36, 'Keith', 'Thomas', 37, '705 Lisa Oval', 'Port Manuel', 'DC', '80060'),
 (37, 'Willie', 'Morris', 33, '5428 Kevin Ports Suite 214', 'New Stephanieborough', 'ID', '78160'),
 (38, 'Kelly', 'Joyce', 32, '165 Miller Crossing', 'Mariafurt', 'GA', '90387'),
 (39, 'Victoria', 'Romero', 19, '637 Greg Street', 'Robertton', 'CT', '49369'),
 (40, 'Denise', 'Hamilton', 30, '43956 Manuel Key', 'East Lindachester', 'AL', '86491'),
 (41, 'Mary', 'Rosales', 30, '50398 Chase Springs', 'North Nicholas', 'MD', '61035'),
 (42, 'Gregory', 'Myers', 36, '33233 Phillips Inlet Apt. 376', 'South Joshuafurt', 'TX', '34411'),
 (43, 'Kyle', 'Dean', 30, '92016 Allison Mission Apt. 998', 'New Tony', 'MD', '13709'),
 (44, 'Allison', 'Keith', 28, '4493 Erica Shore', 'North Travisshire', 'MD', '34943'),
 (45, 'Marisa', 'Schmitt', 31, '467 Durham Trafficway Apt. 930', 'Cristianhaven', 'ME', '48819'),
 (46, 'Mrs.', 'Abigail', 25, '1171 Boyd Manors', 'Tuckertown', 'WI', '77834'),
 (47, 'Randy', 'Johnson', 24, '58221 Jennifer Corners Apt. 264', 'Williamside', 'OH', '23487'),
 (48, 'Michelle', 'Becker', 21, '0665 Robert Track', 'Port Anthonystad', 'MI', '48071'),
 (49, 'Taylor', 'Hill', 25, '700 John Hollow Apt. 501', 'Port Thomasland', 'WV', '26738'),
 (50, 'Amy', 'Dorsey', 38, '5695 Jacobs Streets Apt. 364', 'East Dennisfort', 'VT', '16334'),
 (51, 'Michael', 'Hendrix', 29, '74752 Baker Brooks Apt. 675', 'Brentstad', 'ID', '40066'),
 (52, 'Nancy', 'Bowman', 27, '32735 Smith Port Suite 901', 'New Jeffreyshire', 'TN', '88996'),
 (53, 'Andrea', 'Myers', 41, '8048 Nielsen Crescent', 'West Douglas', 'DE', '43315'),
 (54, 'Mike', 'Ward', 35, '8228 Lisa Hill', 'Port Ericbury', 'AK', '39672'),
 (55, 'Steven', 'Flores', 28, '33769 West Throughway Suite 135', 'Jamesport', 'FL', '11413'),
 (56, 'John', 'Rogers', 25, '3369 Todd Manors', 'North Amanda', 'KS', '64441'),
 (57, 'Angela', 'Johnson', 33, '97838 Ethan Crossroad', 'South Jacquelineside', 'VT', '39949'),
 (58, 'Meredith', 'Crawford', 30, '7293 Kristen Center Apt. 916', 'East Lisa', 'SD', '9925'),
 (59, 'Jon', 'Smith', 33, '698 Mcgee Dale', 'Jerryside', 'HI', '94831'),
 (60, 'Eugene', 'Klein', 36, '79575 Bennett Inlet', 'Davishaven', 'AK', '77171'),
 (61, 'Russell', 'Smith', 37, '4308 Leonard Islands', 'Matthewview', 'GA', '57971'),
 (62, 'Maria', 'Bennett', 23, '676 Jeffery Land', 'Courtneyberg', 'CA', '5181'),
 (63, 'Rebecca', 'Deleon', 36, '6546 Mark Pines', 'East Jacqueline', 'VA', '48381'),
 (64, 'Tiffany', 'Cook', 43, '80543 Tracy Spring Suite 371', 'Rodriguezshire', 'KY', '75101'),
 (65, 'Dr.', 'Joseph', 33, '017 Morton Bypass', 'Kaitlyntown', 'WI', '39081'),
 (66, 'Annette', 'Mcguire', 41, '55949 Anthony Trafficway Suite 183', 'Bakerhaven', 'IL', '94252'),
 (67, 'Jessica', 'Griffin', 27, '34521 Jamie Ports', 'South Michaelborough', 'MA', '50024'),
 (68, 'Susan', 'Campbell', 33, 'PSC 5128, Box 4968', 'APO', 'AP', '74933'),
 (69, 'Kyle', 'Thomas', 35, '4238 Ford Trail Apt. 072', 'Port Stephaniechester', 'MO', '81588'),
 (70, 'Valerie', 'Fisher', 33, '28669 Ruth Extensions', 'Lake Joseph', 'WV', '67044'),
 (71, 'Paul', 'Gonzales', 30, '86582 Michelle Canyon Apt. 962', 'South Alexander', 'NJ', '2064'),
 (72, 'Michele', 'Jones', 25, 'Unit 5247 Box 7057', 'DPO', 'AE', '78128'),
 (73, 'Rodney', 'Jennings', 36, '30710 Thomas Hollow', 'Stoneville', 'DE', '52909'),
 (74, 'Ray', 'Brown', 35, '3875 Ellen Lights Suite 733', 'North Gabriellafurt', 'MI', '67003'),
 (75, 'Amy', 'Castro', 40, '583 Rhonda Ranch Suite 447', 'New Billybury', 'ND', '34700'),
 (76, 'Blake', 'Williams', 26, '1656 Schultz Landing', 'Alexanderhaven', 'ND', '82448'),
 (77, 'James', 'Morales', 21, '937 Tammy Cliffs', 'Munozmouth', 'IN', '44121'),
 (78, 'Tracy', 'Pham', 27, '1849 Christian Way Suite 078', 'Hillshire', 'KY', '93291'),
 (79, 'William', 'Berger', 35, '506 Katrina Stravenue', 'East Michelle', 'AL', '9882'),
 (80, 'Suzanne', 'Miller', 31, '49737 Danielle Underpass Suite 871', 'Randallshire', 'MA', '88845'),
 (81, 'Michael', 'Miranda', 25, '4701 Cruz Springs Suite 485', 'South Ryanmouth', 'MI', '60410'),
 (82, 'Nancy', 'Andrews', 26, '300 Buckley Fall', 'Port Paulside', 'MI', '25420'),
 (83, 'Steven', 'Proctor', 35, '331 David Spur Apt. 611', 'South Lisa', 'KS', '54849'),
 (84, 'Madison', 'Murphy', 18, '58864 David Village', 'Port Kenneth', 'VA', '11644'),
 (85, 'Benjamin', 'Barry', 29, '2638 David Center', 'North Staceyshire', 'NH', '57682'),
 (86, 'Alexandra', 'Barton', 22, '1622 Anthony Bypass', 'Jasmineview', 'KY', '83980'),
 (87, 'April', 'Kim', 27, '68886 Sarah Locks Suite 156', 'New Jennifer', 'NM', '76605'),
 (88, 'Christopher', 'Baker', 30, '85213 Austin Harbors', 'Keyfurt', 'SD', '69451'),
 (89, 'Randall', 'Dean', 27, '2917 Sarah Rue', 'Smithchester', 'KS', '24349'),
 (90, 'Oscar', 'Flores', 35, '352 Nelson Ford', 'Houseport', 'GA', '94961'),
 (91, 'Mitchell', 'Spencer', 27, '4565 Harris Curve Suite 744', 'Richardshire', 'AL', '84498'),
 (92, 'Gary', 'Snyder', 30, '48040 Smith Ramp Suite 509', 'East Francesmouth', 'MA', '38003'),
 (93, 'Lisa', 'Armstrong', 32, '5083 Justin Cliffs', 'West Amy', 'WY', '8481'),
 (94, 'Jeremy', 'Norris', 32, '22734 Rivera Knolls Suite 040', 'Port Thomas', 'MO', '1673'),
 (95, 'Michael', 'Wheeler', 29, '403 Glenn Ville Suite 118', 'East Ericbury', 'OH', '11320'),
 (96, 'April', 'Ross', 34, '076 James Rapid Suite 654', 'West Jessica', 'MO', '42331'),
 (97, 'Jessica', 'Lynch', 30, 'USNS Andrews', 'FPO', 'AA', '17102'),
 (98, 'Donna', 'Bray', 34, '58964 April Knoll', 'Hendrixchester', 'MI', '31600'),
 (99, 'Carolyn', 'Williams', 34, '875 Rivas Alley', 'Butlerton', 'MA', '81141'),
 (100, 'Lee', 'Sweeney', 25, 'USCGC Caldwell', 'FPO', 'AA', '30090')]

## Inner Joins

In [21]:
# Join the banks and payments tables on the bank routing number
sql_inner = """
SELECT *
FROM payments
INNER JOIN banks
ON payments.bank_routing_number = banks.bank_routing_number
"""

In [22]:
# Execute the sql statement
results = engine.execute(sql_inner)

2021-04-13 16:32:33,405 INFO sqlalchemy.engine.base.Engine
SELECT *
FROM payments
JOIN banks
ON payments.bank_routing_number = banks.bank_routing_number

2021-04-13 16:32:33,406 INFO sqlalchemy.engine.base.Engine ()

In [23]:
# List the records returned
list(results)

[('payment_id', 'bank_number', 'bank_routing_number', 'customer_id', 'bank_id', 'bank_name', 'bank_routing_number'),
 (1, 9269877403, 905192010, 1, 5, 'TD Bank', 905192010),
 (2, 82888733522, 629873495, 2, 2, 'Wells Fargo', 629873495),
 (3, 20862689216, 905192010, 3, 5, 'TD Bank', 905192010),
 (4, 87342300762, 890123900, 4, 4, 'Citigroup', 890123900),
 (5, 32016806394, 629873495, 5, 2, 'Wells Fargo', 629873495),
 (6, 89178109018, 890123900, 6, 4, 'Citigroup', 890123900),
 (7, 11398000774, 2340903984, 7, 3, 'JPMorgan Chase', 2340903984),
 (8, 22787074845, 890123900, 8, 4, 'Citigroup', 890123900),
 (9, 60706346980, 890123900, 9, 4, 'Citigroup', 890123900),
 (10, 12654009617, 184619239, 10, 6, 'Capital One', 184619239),
 (11, 51632282614, 629873495, 11, 2, 'Wells Fargo', 629873495),
 (12, 68456483309, 905192010, 12, 5, 'TD Bank', 905192010),
 (13, 73015643543, 2340903984, 13, 3, 'JPMorgan Chase', 2340903984),
 (14, 66653098136, 905192010, 14, 5, 'TD Bank', 905192010),
 (15, 73639983258, 184619239, 15, 6, 'Capital One', 184619239),
 (16, 68191577695, 890123900, 16, 4, 'Citigroup', 890123900),
 (17, 1130813569, 890123900, 17, 4, 'Citigroup', 890123900),
 (18, 46731417034, 2340903984, 18, 3, 'JPMorgan Chase', 2340903984),
 (19, 69004996851, 184619239, 19, 6, 'Capital One', 184619239),
 (20, 75032806086, 905192010, 20, 5, 'TD Bank', 905192010),
 (21, 65612468052, 890123900, 21, 4, 'Citigroup', 890123900),
 (22, 76163431193, 629873495, 22, 2, 'Wells Fargo', 629873495),
 (23, 31125785634, 629873495, 23, 2, 'Wells Fargo', 629873495),
 (24, 64250427325, 184619239, 24, 6, 'Capital One', 184619239),
 (25, 7284515287, 198491827, 25, 1, 'Bank of America', 198491827),
 (26, 36243682622, 2340903984, 26, 3, 'JPMorgan Chase', 2340903984),
 (27, 6802893682, 629873495, 27, 2, 'Wells Fargo', 629873495),
 (28, 48975373191, 2340903984, 28, 3, 'JPMorgan Chase', 2340903984),
 (29, 55317680318, 629873495, 29, 2, 'Wells Fargo', 629873495),
 (30, 6957425936, 905192010, 30, 5, 'TD Bank', 905192010),
 (31, 87596526571, 2340903984, 31, 3, 'JPMorgan Chase', 2340903984),
 (32, 32237372412, 2340903984, 32, 3, 'JPMorgan Chase', 2340903984),
 (33, 50668921877, 2340903984, 33, 3, 'JPMorgan Chase', 2340903984),
 (34, 31905656087, 629873495, 34, 2, 'Wells Fargo', 629873495),
 (35, 76887338713, 2340903984, 35, 3, 'JPMorgan Chase', 2340903984),
 (36, 53202638817, 890123900, 36, 4, 'Citigroup', 890123900),
 (37, 48862241090, 629873495, 37, 2, 'Wells Fargo', 629873495),
 (38, 16179523315, 890123900, 38, 4, 'Citigroup', 890123900),
 (39, 31525433090, 890123900, 39, 4, 'Citigroup', 890123900),
 (40, 86346682262, 905192010, 40, 5, 'TD Bank', 905192010),
 (41, 94169987556, 198491827, 41, 1, 'Bank of America', 198491827),
 (42, 15257433300, 629873495, 42, 2, 'Wells Fargo', 629873495),
 (43, 89793281199, 890123900, 43, 4, 'Citigroup', 890123900),
 (44, 61899463671, 905192010, 44, 5, 'TD Bank', 905192010),
 (45, 15097116063, 2340903984, 45, 3, 'JPMorgan Chase', 2340903984),
 (46, 14287899182, 905192010, 46, 5, 'TD Bank', 905192010),
 (47, 50466419650, 2340903984, 47, 3, 'JPMorgan Chase', 2340903984),
 (48, 13036169817, 905192010, 48, 5, 'TD Bank', 905192010),
 (49, 99461190391, 890123900, 49, 4, 'Citigroup', 890123900),
 (50, 46824584329, 905192010, 50, 5, 'TD Bank', 905192010),
 (51, 98733625849, 2340903984, 51, 3, 'JPMorgan Chase', 2340903984),
 (52, 54406399670, 890123900, 52, 4, 'Citigroup', 890123900),
 (53, 23337525652, 890123900, 53, 4, 'Citigroup', 890123900),
 (54, 99135542058, 905192010, 54, 5, 'TD Bank', 905192010),
 (55, 79382904819, 198491827, 55, 1, 'Bank of America', 198491827),
 (56, 51891860969, 629873495, 56, 2, 'Wells Fargo', 629873495),
 (57, 967477448, 890123900, 57, 4, 'Citigroup', 890123900),
 (58, 43950731817, 198491827, 58, 1, 'Bank of America', 198491827),
 (59, 83587629692, 2340903984, 59, 3, 'JPMorgan Chase', 2340903984),
 (60, 50677857318, 2340903984, 60, 3, 'JPMorgan Chase', 2340903984),
 (61, 30030690448, 2340903984, 61, 3, 'JPMorgan Chase', 2340903984),
 (62, 24846297310, 890123900, 62, 4, 'Citigroup', 890123900),
 (63, 97451406215, 2340903984, 63, 3, 'JPMorgan Chase', 2340903984),
 (64, 76772259664, 184619239, 64, 6, 'Capital One', 184619239),
 (65, 40622611365, 184619239, 65, 6, 'Capital One', 184619239),
 (66, 22259674175, 890123900, 66, 4, 'Citigroup', 890123900),
 (67, 68396653143, 184619239, 67, 6, 'Capital One', 184619239),
 (68, 30665947105, 2340903984, 68, 3, 'JPMorgan Chase', 2340903984),
 (69, 64854709670, 905192010, 69, 5, 'TD Bank', 905192010),
 (70, 50770824681, 184619239, 70, 6, 'Capital One', 184619239),
 (71, 77586925062, 629873495, 71, 2, 'Wells Fargo', 629873495),
 (72, 63409835848, 184619239, 72, 6, 'Capital One', 184619239),
 (73, 48199192552, 198491827, 73, 1, 'Bank of America', 198491827),
 (74, 81986012181, 184619239, 74, 6, 'Capital One', 184619239),
 (75, 25129785289, 629873495, 75, 2, 'Wells Fargo', 629873495),
 (76, 1895042747, 198491827, 76, 1, 'Bank of America', 198491827),
 (77, 84383348363, 890123900, 77, 4, 'Citigroup', 890123900),
 (78, 28339725980, 2340903984, 78, 3, 'JPMorgan Chase', 2340903984),
 (79, 84018214168, 905192010, 79, 5, 'TD Bank', 905192010),
 (80, 76687857530, 905192010, 80, 5, 'TD Bank', 905192010),
 (81, 56872804020, 629873495, 81, 2, 'Wells Fargo', 629873495),
 (82, 81600174551, 184619239, 82, 6, 'Capital One', 184619239),
 (83, 45952835629, 629873495, 83, 2, 'Wells Fargo', 629873495),
 (84, 76348348196, 890123900, 84, 4, 'Citigroup', 890123900),
 (85, 53314019780, 2340903984, 85, 3, 'JPMorgan Chase', 2340903984),
 (86, 31145283096, 905192010, 86, 5, 'TD Bank', 905192010),
 (87, 21794275834, 184619239, 87, 6, 'Capital One', 184619239),
 (88, 90101392782, 905192010, 88, 5, 'TD Bank', 905192010),
 (89, 56801480654, 184619239, 89, 6, 'Capital One', 184619239),
 (90, 76630743188, 905192010, 90, 5, 'TD Bank', 905192010),
 (91, 74801502311, 890123900, 91, 4, 'Citigroup', 890123900),
 (92, 58818848296, 905192010, 92, 5, 'TD Bank', 905192010),
 (93, 53453433797, 890123900, 93, 4, 'Citigroup', 890123900),
 (94, 41788548337, 905192010, 94, 5, 'TD Bank', 905192010),
 (95, 44728748510, 905192010, 95, 5, 'TD Bank', 905192010),
 (96, 51737126284, 890123900, 96, 4, 'Citigroup', 890123900),
 (97, 5848472535, 629873495, 97, 2, 'Wells Fargo', 629873495),
 (98, 48749064404, 198491827, 98, 1, 'Bank of America', 198491827)]

## Left Join

In [14]:
# A left join will capture all of the data from the left table
# and only data from the right table where the common element is present
sql_left = """
SELECT *
FROM payments
LEFT JOIN banks
ON payments.bank_routing_number = banks.bank_routing_number
"""

In [15]:
# Execute the sql statement
results = engine.execute(sql_left)

2021-04-13 16:23:17,945 INFO sqlalchemy.engine.base.Engine
SELECT *
FROM payments
LEFT JOIN banks
ON payments.bank_routing_number = banks.bank_routing_number

2021-04-13 16:23:17,946 INFO sqlalchemy.engine.base.Engine ()

In [16]:
# List the records returned
list(results)

[('payment_id', 'bank_number', 'bank_routing_number', 'customer_id', 'bank_id', 'bank_name', 'bank_routing_number'),
 (1, 9269877403, 905192010, 1, 5, 'TD Bank', 905192010),
 (2, 82888733522, 629873495, 2, 2, 'Wells Fargo', 629873495),
 (3, 20862689216, 905192010, 3, 5, 'TD Bank', 905192010),
 (4, 87342300762, 890123900, 4, 4, 'Citigroup', 890123900),
 (5, 32016806394, 629873495, 5, 2, 'Wells Fargo', 629873495),
 (6, 89178109018, 890123900, 6, 4, 'Citigroup', 890123900),
 (7, 11398000774, 2340903984, 7, 3, 'JPMorgan Chase', 2340903984),
 (8, 22787074845, 890123900, 8, 4, 'Citigroup', 890123900),
 (9, 60706346980, 890123900, 9, 4, 'Citigroup', 890123900),
 (10, 12654009617, 184619239, 10, 6, 'Capital One', 184619239),
 (11, 51632282614, 629873495, 11, 2, 'Wells Fargo', 629873495),
 (12, 68456483309, 905192010, 12, 5, 'TD Bank', 905192010),
 (13, 73015643543, 2340903984, 13, 3, 'JPMorgan Chase', 2340903984),
 (14, 66653098136, 905192010, 14, 5, 'TD Bank', 905192010),
 (15, 73639983258, 184619239, 15, 6, 'Capital One', 184619239),
 (16, 68191577695, 890123900, 16, 4, 'Citigroup', 890123900),
 (17, 1130813569, 890123900, 17, 4, 'Citigroup', 890123900),
 (18, 46731417034, 2340903984, 18, 3, 'JPMorgan Chase', 2340903984),
 (19, 69004996851, 184619239, 19, 6, 'Capital One', 184619239),
 (20, 75032806086, 905192010, 20, 5, 'TD Bank', 905192010),
 (21, 65612468052, 890123900, 21, 4, 'Citigroup', 890123900),
 (22, 76163431193, 629873495, 22, 2, 'Wells Fargo', 629873495),
 (23, 31125785634, 629873495, 23, 2, 'Wells Fargo', 629873495),
 (24, 64250427325, 184619239, 24, 6, 'Capital One', 184619239),
 (25, 7284515287, 198491827, 25, 1, 'Bank of America', 198491827),
 (26, 36243682622, 2340903984, 26, 3, 'JPMorgan Chase', 2340903984),
 (27, 6802893682, 629873495, 27, 2, 'Wells Fargo', 629873495),
 (28, 48975373191, 2340903984, 28, 3, 'JPMorgan Chase', 2340903984),
 (29, 55317680318, 629873495, 29, 2, 'Wells Fargo', 629873495),
 (30, 6957425936, 905192010, 30, 5, 'TD Bank', 905192010),
 (31, 87596526571, 2340903984, 31, 3, 'JPMorgan Chase', 2340903984),
 (32, 32237372412, 2340903984, 32, 3, 'JPMorgan Chase', 2340903984),
 (33, 50668921877, 2340903984, 33, 3, 'JPMorgan Chase', 2340903984),
 (34, 31905656087, 629873495, 34, 2, 'Wells Fargo', 629873495),
 (35, 76887338713, 2340903984, 35, 3, 'JPMorgan Chase', 2340903984),
 (36, 53202638817, 890123900, 36, 4, 'Citigroup', 890123900),
 (37, 48862241090, 629873495, 37, 2, 'Wells Fargo', 629873495),
 (38, 16179523315, 890123900, 38, 4, 'Citigroup', 890123900),
 (39, 31525433090, 890123900, 39, 4, 'Citigroup', 890123900),
 (40, 86346682262, 905192010, 40, 5, 'TD Bank', 905192010),
 (41, 94169987556, 198491827, 41, 1, 'Bank of America', 198491827),
 (42, 15257433300, 629873495, 42, 2, 'Wells Fargo', 629873495),
 (43, 89793281199, 890123900, 43, 4, 'Citigroup', 890123900),
 (44, 61899463671, 905192010, 44, 5, 'TD Bank', 905192010),
 (45, 15097116063, 2340903984, 45, 3, 'JPMorgan Chase', 2340903984),
 (46, 14287899182, 905192010, 46, 5, 'TD Bank', 905192010),
 (47, 50466419650, 2340903984, 47, 3, 'JPMorgan Chase', 2340903984),
 (48, 13036169817, 905192010, 48, 5, 'TD Bank', 905192010),
 (49, 99461190391, 890123900, 49, 4, 'Citigroup', 890123900),
 (50, 46824584329, 905192010, 50, 5, 'TD Bank', 905192010),
 (51, 98733625849, 2340903984, 51, 3, 'JPMorgan Chase', 2340903984),
 (52, 54406399670, 890123900, 52, 4, 'Citigroup', 890123900),
 (53, 23337525652, 890123900, 53, 4, 'Citigroup', 890123900),
 (54, 99135542058, 905192010, 54, 5, 'TD Bank', 905192010),
 (55, 79382904819, 198491827, 55, 1, 'Bank of America', 198491827),
 (56, 51891860969, 629873495, 56, 2, 'Wells Fargo', 629873495),
 (57, 967477448, 890123900, 57, 4, 'Citigroup', 890123900),
 (58, 43950731817, 198491827, 58, 1, 'Bank of America', 198491827),
 (59, 83587629692, 2340903984, 59, 3, 'JPMorgan Chase', 2340903984),
 (60, 50677857318, 2340903984, 60, 3, 'JPMorgan Chase', 2340903984),
 (61, 30030690448, 2340903984, 61, 3, 'JPMorgan Chase', 2340903984),
 (62, 24846297310, 890123900, 62, 4, 'Citigroup', 890123900),
 (63, 97451406215, 2340903984, 63, 3, 'JPMorgan Chase', 2340903984),
 (64, 76772259664, 184619239, 64, 6, 'Capital One', 184619239),
 (65, 40622611365, 184619239, 65, 6, 'Capital One', 184619239),
 (66, 22259674175, 890123900, 66, 4, 'Citigroup', 890123900),
 (67, 68396653143, 184619239, 67, 6, 'Capital One', 184619239),
 (68, 30665947105, 2340903984, 68, 3, 'JPMorgan Chase', 2340903984),
 (69, 64854709670, 905192010, 69, 5, 'TD Bank', 905192010),
 (70, 50770824681, 184619239, 70, 6, 'Capital One', 184619239),
 (71, 77586925062, 629873495, 71, 2, 'Wells Fargo', 629873495),
 (72, 63409835848, 184619239, 72, 6, 'Capital One', 184619239),
 (73, 48199192552, 198491827, 73, 1, 'Bank of America', 198491827),
 (74, 81986012181, 184619239, 74, 6, 'Capital One', 184619239),
 (75, 25129785289, 629873495, 75, 2, 'Wells Fargo', 629873495),
 (76, 1895042747, 198491827, 76, 1, 'Bank of America', 198491827),
 (77, 84383348363, 890123900, 77, 4, 'Citigroup', 890123900),
 (78, 28339725980, 2340903984, 78, 3, 'JPMorgan Chase', 2340903984),
 (79, 84018214168, 905192010, 79, 5, 'TD Bank', 905192010),
 (80, 76687857530, 905192010, 80, 5, 'TD Bank', 905192010),
 (81, 56872804020, 629873495, 81, 2, 'Wells Fargo', 629873495),
 (82, 81600174551, 184619239, 82, 6, 'Capital One', 184619239),
 (83, 45952835629, 629873495, 83, 2, 'Wells Fargo', 629873495),
 (84, 76348348196, 890123900, 84, 4, 'Citigroup', 890123900),
 (85, 53314019780, 2340903984, 85, 3, 'JPMorgan Chase', 2340903984),
 (86, 31145283096, 905192010, 86, 5, 'TD Bank', 905192010),
 (87, 21794275834, 184619239, 87, 6, 'Capital One', 184619239),
 (88, 90101392782, 905192010, 88, 5, 'TD Bank', 905192010),
 (89, 56801480654, 184619239, 89, 6, 'Capital One', 184619239),
 (90, 76630743188, 905192010, 90, 5, 'TD Bank', 905192010),
 (91, 74801502311, 890123900, 91, 4, 'Citigroup', 890123900),
 (92, 58818848296, 905192010, 92, 5, 'TD Bank', 905192010),
 (93, 53453433797, 890123900, 93, 4, 'Citigroup', 890123900),
 (94, 41788548337, 905192010, 94, 5, 'TD Bank', 905192010),
 (95, 44728748510, 905192010, 95, 5, 'TD Bank', 905192010),
 (96, 51737126284, 890123900, 96, 4, 'Citigroup', 890123900),
 (97, 5848472535, 629873495, 97, 2, 'Wells Fargo', 629873495),
 (98, 48749064404, 198491827, 98, 1, 'Bank of America', 198491827),
 (99, 93467025920, 166846533, 99, None, None, None),
 (100, 72002809830, 166846533, 100, None, None, None)]

## Multiple Table Joins

In [24]:
# Multi table joins combine only select columns from various tables
multi_join = """
SELECT
  payments.payment_id,
  payments.bank_number,
  payments.bank_routing_number,
  banks.bank_name,
  customer.first_name,
  customer.last_name
FROM payments
LEFT JOIN banks ON payments.bank_routing_number = banks.bank_routing_number
INNER JOIN customer ON payments.customer_id = customer.customer_id
"""

In [25]:
results = engine.execute(multi_join)

2021-04-13 16:39:43,641 INFO sqlalchemy.engine.base.Engine
SELECT
  payments.payment_id,
  payments.bank_number,
  payments.bank_routing_number,
  banks.bank_name,
  customer.first_name,
  customer.last_name
FROM payments
LEFT JOIN banks ON payments.bank_routing_number = banks.bank_routing_number
INNER JOIN customer ON payments.customer_id = customer.customer_id

2021-04-13 16:39:43,642 INFO sqlalchemy.engine.base.Engine ()

In [26]:
list(results)

[('payment_id', 'bank_number', 'bank_routing_number', 'bank_name', 'first_name', 'last_name'),
 (1, 9269877403, 905192010, 'TD Bank', 'Michael', 'Meyer'),
 (2, 82888733522, 629873495, 'Wells Fargo', 'Cindy', 'Stephens'),
 (3, 20862689216, 905192010, 'TD Bank', 'John', 'Jackson'),
 (4, 87342300762, 890123900, 'Citigroup', 'Alexander', 'Martinez'),
 (5, 32016806394, 629873495, 'Wells Fargo', 'John', 'Pugh'),
 (6, 89178109018, 890123900, 'Citigroup', 'Ashley', 'Chan'),
 (7, 11398000774, 2340903984, 'JPMorgan Chase', 'Matthew', 'Kramer'),
 (8, 22787074845, 890123900, 'Citigroup', 'Tammy', 'Soto'),
 (9, 60706346980, 890123900, 'Citigroup', 'Christopher', 'Kirby'),
 (10, 12654009617, 184619239, 'Capital One', 'Krystal', 'Huang'),
 (11, 51632282614, 629873495, 'Wells Fargo', 'Sandra', 'Jimenez'),
 (12, 68456483309, 905192010, 'TD Bank', 'Dawn', 'Black'),
 (13, 73015643543, 2340903984, 'JPMorgan Chase', 'Christina', 'Henderson'),
 (14, 66653098136, 905192010, 'TD Bank', 'Sheila', 'Foster'),
 (15, 73639983258, 184619239, 'Capital One', 'Marvin', 'Cruz'),
 (16, 68191577695, 890123900, 'Citigroup', 'Shannon', 'Thompson'),
 (17, 1130813569, 890123900, 'Citigroup', 'Jessica', 'Brown'),
 (18, 46731417034, 2340903984, 'JPMorgan Chase', 'George', 'Scott'),
 (19, 69004996851, 184619239, 'Capital One', 'Gregory', 'Green'),
 (20, 75032806086, 905192010, 'TD Bank', 'Brooke', 'Armstrong'),
 (21, 65612468052, 890123900, 'Citigroup', 'Bethany', 'Williams'),
 (22, 76163431193, 629873495, 'Wells Fargo', 'Sherry', 'Mooney'),
 (23, 31125785634, 629873495, 'Wells Fargo', 'Stephen', 'Guerrero'),
 (24, 64250427325, 184619239, 'Capital One', 'Brandon', 'Lewis'),
 (25, 7284515287, 198491827, 'Bank of America', 'William', 'Morris'),
 (26, 36243682622, 2340903984, 'JPMorgan Chase', 'Meredith', 'Turner'),
 (27, 6802893682, 629873495, 'Wells Fargo', 'Dawn', 'Meyers'),
 (28, 48975373191, 2340903984, 'JPMorgan Chase', 'Frank', 'Morales'),
 (29, 55317680318, 629873495, 'Wells Fargo', 'Rebecca', 'Robertson'),
 (30, 6957425936, 905192010, 'TD Bank', 'Nicholas', 'Brown'),
 (31, 87596526571, 2340903984, 'JPMorgan Chase', 'Vernon', 'Johnston'),
 (32, 32237372412, 2340903984, 'JPMorgan Chase', 'Sandra', 'Rodriguez'),
 (33, 50668921877, 2340903984, 'JPMorgan Chase', 'Jennifer', 'Cooper'),
 (34, 31905656087, 629873495, 'Wells Fargo', 'Adam', 'Jones'),
 (35, 76887338713, 2340903984, 'JPMorgan Chase', 'Thomas', 'Hart'),
 (36, 53202638817, 890123900, 'Citigroup', 'Keith', 'Thomas'),
 (37, 48862241090, 629873495, 'Wells Fargo', 'Willie', 'Morris'),
 (38, 16179523315, 890123900, 'Citigroup', 'Kelly', 'Joyce'),
 (39, 31525433090, 890123900, 'Citigroup', 'Victoria', 'Romero'),
 (40, 86346682262, 905192010, 'TD Bank', 'Denise', 'Hamilton'),
 (41, 94169987556, 198491827, 'Bank of America', 'Mary', 'Rosales'),
 (42, 15257433300, 629873495, 'Wells Fargo', 'Gregory', 'Myers'),
 (43, 89793281199, 890123900, 'Citigroup', 'Kyle', 'Dean'),
 (44, 61899463671, 905192010, 'TD Bank', 'Allison', 'Keith'),
 (45, 15097116063, 2340903984, 'JPMorgan Chase', 'Marisa', 'Schmitt'),
 (46, 14287899182, 905192010, 'TD Bank', 'Mrs.', 'Abigail'),
 (47, 50466419650, 2340903984, 'JPMorgan Chase', 'Randy', 'Johnson'),
 (48, 13036169817, 905192010, 'TD Bank', 'Michelle', 'Becker'),
 (49, 99461190391, 890123900, 'Citigroup', 'Taylor', 'Hill'),
 (50, 46824584329, 905192010, 'TD Bank', 'Amy', 'Dorsey'),
 (51, 98733625849, 2340903984, 'JPMorgan Chase', 'Michael', 'Hendrix'),
 (52, 54406399670, 890123900, 'Citigroup', 'Nancy', 'Bowman'),
 (53, 23337525652, 890123900, 'Citigroup', 'Andrea', 'Myers'),
 (54, 99135542058, 905192010, 'TD Bank', 'Mike', 'Ward'),
 (55, 79382904819, 198491827, 'Bank of America', 'Steven', 'Flores'),
 (56, 51891860969, 629873495, 'Wells Fargo', 'John', 'Rogers'),
 (57, 967477448, 890123900, 'Citigroup', 'Angela', 'Johnson'),
 (58, 43950731817, 198491827, 'Bank of America', 'Meredith', 'Crawford'),
 (59, 83587629692, 2340903984, 'JPMorgan Chase', 'Jon', 'Smith'),
 (60, 50677857318, 2340903984, 'JPMorgan Chase', 'Eugene', 'Klein'),
 (61, 30030690448, 2340903984, 'JPMorgan Chase', 'Russell', 'Smith'),
 (62, 24846297310, 890123900, 'Citigroup', 'Maria', 'Bennett'),
 (63, 97451406215, 2340903984, 'JPMorgan Chase', 'Rebecca', 'Deleon'),
 (64, 76772259664, 184619239, 'Capital One', 'Tiffany', 'Cook'),
 (65, 40622611365, 184619239, 'Capital One', 'Dr.', 'Joseph'),
 (66, 22259674175, 890123900, 'Citigroup', 'Annette', 'Mcguire'),
 (67, 68396653143, 184619239, 'Capital One', 'Jessica', 'Griffin'),
 (68, 30665947105, 2340903984, 'JPMorgan Chase', 'Susan', 'Campbell'),
 (69, 64854709670, 905192010, 'TD Bank', 'Kyle', 'Thomas'),
 (70, 50770824681, 184619239, 'Capital One', 'Valerie', 'Fisher'),
 (71, 77586925062, 629873495, 'Wells Fargo', 'Paul', 'Gonzales'),
 (72, 63409835848, 184619239, 'Capital One', 'Michele', 'Jones'),
 (73, 48199192552, 198491827, 'Bank of America', 'Rodney', 'Jennings'),
 (74, 81986012181, 184619239, 'Capital One', 'Ray', 'Brown'),
 (75, 25129785289, 629873495, 'Wells Fargo', 'Amy', 'Castro'),
 (76, 1895042747, 198491827, 'Bank of America', 'Blake', 'Williams'),
 (77, 84383348363, 890123900, 'Citigroup', 'James', 'Morales'),
 (78, 28339725980, 2340903984, 'JPMorgan Chase', 'Tracy', 'Pham'),
 (79, 84018214168, 905192010, 'TD Bank', 'William', 'Berger'),
 (80, 76687857530, 905192010, 'TD Bank', 'Suzanne', 'Miller'),
 (81, 56872804020, 629873495, 'Wells Fargo', 'Michael', 'Miranda'),
 (82, 81600174551, 184619239, 'Capital One', 'Nancy', 'Andrews'),
 (83, 45952835629, 629873495, 'Wells Fargo', 'Steven', 'Proctor'),
 (84, 76348348196, 890123900, 'Citigroup', 'Madison', 'Murphy'),
 (85, 53314019780, 2340903984, 'JPMorgan Chase', 'Benjamin', 'Barry'),
 (86, 31145283096, 905192010, 'TD Bank', 'Alexandra', 'Barton'),
 (87, 21794275834, 184619239, 'Capital One', 'April', 'Kim'),
 (88, 90101392782, 905192010, 'TD Bank', 'Christopher', 'Baker'),
 (89, 56801480654, 184619239, 'Capital One', 'Randall', 'Dean'),
 (90, 76630743188, 905192010, 'TD Bank', 'Oscar', 'Flores'),
 (91, 74801502311, 890123900, 'Citigroup', 'Mitchell', 'Spencer'),
 (92, 58818848296, 905192010, 'TD Bank', 'Gary', 'Snyder'),
 (93, 53453433797, 890123900, 'Citigroup', 'Lisa', 'Armstrong'),
 (94, 41788548337, 905192010, 'TD Bank', 'Jeremy', 'Norris'),
 (95, 44728748510, 905192010, 'TD Bank', 'Michael', 'Wheeler'),
 (96, 51737126284, 890123900, 'Citigroup', 'April', 'Ross'),
 (97, 5848472535, 629873495, 'Wells Fargo', 'Jessica', 'Lynch'),
 (98, 48749064404, 198491827, 'Bank of America', 'Donna', 'Bray'),
 (99, 93467025920, 166846533, None, 'Carolyn', 'Williams'),
 (100, 72002809830, 166846533, None, 'Lee', 'Sweeney')]