# Dataframe to Database

In [ ]:
# Import the modules
import pandas as pd
import sqlalchemy as sql
from pathlib import Path

## Import the AMEX CSV file into a Pandas DataFrame

In [ ]:
# Read AMEX data from the Resources folder into a Pandas DataFrame
amex_df = pd.read_csv(
    Path('../Resources/amex_companylist.csv')
)

# Review the Pandas DataFrame
amex_df.head()

## Create the Amex Database

In [ ]:
# Database connection string
amex_connection_string = 'sqlite:///../Resources/amex.db'

In [ ]:
# Database engine
amex_engine = sql.create_engine(amex_connection_string, echo=True)

In [ ]:
# Add the AMEX dataframe to the database as a table.
amex_df.to_sql('AMEX', amex_engine,index=False, if_exists='replace')

In [ ]:
# Get the table names from the database
amex_engine.table_names()

In [ ]:
# Create a dataframe from a subset of the columns
amex_symbols_df = amex_df[['Symbol','Name']]

In [ ]:
# Create a table from the dataframe
amex_symbols_df.to_sql('AMEX_SYMBOLS', amex_engine, index=False, if_exists='replace')

In [ ]:
# Get the table names from the database
amex_engine.table_names()

## Reading SQL Tables into DataFrames

### Import the NASDAQ database

In [ ]:
# Database connection string
nasdaq_connection_string = 'sqlite:///../Resources/nasdaq.db'

In [ ]:
# Database engine
nasdaq_engine = sql.create_engine(nasdaq_connection_string, echo=True)

In [ ]:
# Get the table names from the database
nasdaq_engine.table_names()

## Read in the NASDAQ table into a Pandas DataFrame

In [ ]:
# Create a dataframe from the table 'NASDAQ'
nasdaq_df = pd.read_sql_table('NASDAQ', nasdaq_engine)

In [ ]:
# Review the Pandas DataFrame
nasdaq_df.head()

## Reading SQL Queries into DataFrames

In [ ]:
# Select all symbols and names from the Finance sector
sql_query = """
SELECT symbol, name
FROM NASDAQ
WHERE industry LIKE 'Finance%'
"""

In [ ]:
# Create a DataFrame from a SQL query
nasdaq_finance_symbols = pd.read_sql_query(sql_query, nasdaq_engine, index_col='Symbol')

In [ ]:
# Review the DataFrame
nasdaq_finance_symbols.head()