In [1]:
# Import Modules
import pandas as pd
from pathlib import Path

In [2]:
# Set paths to csv files
tsla_csv_path = Path("../Resources/tsla.csv")
sp500_path = Path("../Resources/sp500.csv")

In [3]:
# Read in csv files
tsla_df = pd.read_csv(
    tsla_csv_path, 
    index_col="date", 
    infer_datetime_format=True, 
    parse_dates=True
)

sp500_df = pd.read_csv(
    sp500_path, 
    index_col="date", 
    infer_datetime_format=True, 
    parse_dates=True
)

In [4]:
# Calculate the daily percent changes and drop n/a values
tsla_df["pct_change"] = tsla_df["close"].pct_change()
tsla_df = tsla_df.dropna()

In [5]:
# Preview the data
tsla_df.head()

             close  pct_change
date
2014-05-21  199.45    0.021249
2014-05-22  204.88    0.027225
2014-05-23  207.30    0.011812
2014-05-27  211.56    0.020550
2014-05-28  210.24   -0.006239

In [6]:
# Calculate the daily percent changes and drop n/a values
sp500_df["pct_change"] = sp500_df["close"].pct_change()
sp500_df = sp500_df.dropna()

In [7]:
sp500_df.head()

              close  pct_change
date
2014-05-21  1888.03    0.008116
2014-05-22  1892.49    0.002362
2014-05-23  1900.53    0.004248
2014-05-27  1911.91    0.005988
2014-05-28  1909.78   -0.001114

In [8]:
# Create a function named 'calculate_mean'.
# We choose a function name that will not conflict with any modules that may have been imported.
def calculate_mean(data_set):
    sum = 0
    length = 0
    for value in data_set:
        sum = sum + value
        length = length + 1
    return sum / length

In [9]:
# Calculate the mean for Tesla.
tsla_mean = calculate_mean(tsla_df["pct_change"])
print(tsla_mean)

0.0005143162010646481

In [10]:
# Verify the calculated value with pandas mean() method
tsla_df["pct_change"].mean()

0.0005143162010646481

In [11]:
# Create a function named 'calculate_variance'.
# We choose a function name that will not conflict with any modules that may have been imported.
# Variance is the squared average change around the mean
# It should be noted that sample variance is also used.
# It removes an element from the length of the dataset.
# We square the difference between the value and the mean of the dataset each time because we don't
# want negative values for variance. The reason is because we take the square root of variance for
# standard deviation and this will introduce imaginary numbers.

def calculate_variance(data_set):
    sum = 0
    length = 0
    mean_value = calculate_mean(data_set)
    for value in data_set:
        sum = sum + (value - mean_value) ** 2
        length = length + 1
    return sum / (length - 1)

In [12]:
# Calculate the variance for Tesla.
tsla_var = calculate_variance(tsla_df["pct_change"])
print(tsla_var)

0.000756907117811057

In [13]:
# Verify the calculated value with pandas var() method
tsla_df["pct_change"].var()

0.000756907117811057

In [14]:
# Create a function named 'calculate_standard_deviation'.
def calculate_standard_deviation(data_set):
    return (calculate_variance(data_set)) ** (1 / 2)

In [15]:
# Calculate the variance for Tesla.
tsla_std = calculate_standard_deviation(tsla_df["pct_change"])
print(tsla_std)

0.027511945002326843

In [16]:
# Verify the calculated value with pandas std() method
tsla_df["pct_change"].std()

0.027511945002326843

In [17]:
# Create a function to check to most recent price against the mean price
# to determine if the stock is overvalued.
def check_value(current_price, mean_price):
    if current_price > mean_price:
        print("Overvalued")
    elif current_price < mean_price:
        print("Undervalued")
    else:
        print("Price is at mean value.")

In [18]:
# Get tesla's most recent value. We can use -1 to get the last element.
tsla_recent_value = tsla_df["pct_change"][-1]

In [19]:
# Check if tesla is overvalued or not
check_value(tsla_recent_value, tsla_mean)

Undervalued

In [20]:
# Calculate mean for sp500
sp500_mean = calculate_mean(sp500_df["pct_change"])

In [21]:
# Get most recent value for sp500.
sp500_recent_value = sp500_df["pct_change"][-1]

In [22]:
# Calculate the standard deviation for the sp500
sp500_std = calculate_standard_deviation(sp500_df["pct_change"])

In [23]:
# Check if the sp500 is overvalued or not
check_value(sp500_recent_value, sp500_mean)

Overvalued

In [24]:
# Create a function to compare the volatility with the underlying market
def compare_volatility(stock_std, market_std):
    if stock_std > market_std:
        print("The stock is more volatile than the market.")
    else:
        print("The stock is less volatile than the market.")

In [25]:
# Compare the volatility of tesla and the sp500
compare_volatility(tsla_std, sp500_std)

The stock is more volatile than the market.