# CRUD SQL Queries

## Create the database

In [ ]:
# Import the modules
import pandas as pd
import sqlalchemy as sql

In [ ]:
# Database connection string
database_connection_string = 'sqlite:///../Resources/mortgage_payments.db'

In [ ]:
# Database engine
engine = sql.create_engine(database_connection_string, echo=True)

In [ ]:
# Get table names from the database
engine.table_names()

## SELECT Queries

In [ ]:
# SELECT all data from the customers table
sql_select = "SELECT * FROM customers"

In [ ]:
# Execute the sql select statement
results = engine.execute(sql_select)

In [ ]:
# View results using a for-loop
for row in results:
    print(row)

In [ ]:
# Execute the sql select statement
results = engine.execute(sql_select)

# View results using a Pandas list
list(results)

In [ ]:
# Execute the sql select statement
results = engine.execute(sql_select)

# Convert the results into a Pandas DataFrame
customers_df = pd.DataFrame(list(results))

# Review the DataFrame
customers_df.head()

### WHERE Modifier

In [ ]:
# SELECT all Michael's from the customer table
sql_select_michael = """
SELECT customer_id, first_name, last_name, age
FROM customers
WHERE first_name = 'Michael'
"""

In [ ]:
# Execute the sql select statement
results = engine.execute(sql_select_michael)

In [ ]:
# List the results of the query
list(results)

### Wildcard Characters

In [ ]:
# The underscore (_) only replaces a single character
sql_select_wild_card = """
SELECT customer_id, first_name, last_name, age
FROM customers
WHERE last_name like 'Pat_'
"""

In [ ]:
# Execute the sql statement
results = engine.execute(sql_select_wild_card)

In [ ]:
# List the results of the query
list(results)

In [ ]:
# The percent (%) wild card allows for any number of characters
sql_select_wild_card2 = """
SELECT customer_id, first_name, last_name, age
FROM customers
WHERE last_name like 'Pat%'
"""

In [ ]:
# Execute the sql select statement
results = engine.execute(sql_select_wild_card2)

In [ ]:
# List the results of the query
list(results)

### ORDER BY Modifier

In [ ]:
# Use the ORDER BY modifier to organize the data
sql_select_michael_ordered = """
SELECT first_name, age
FROM customers
WHERE first_name = 'Michael'
ORDER BY age
"""

In [ ]:
# Execute the sql statement
results = engine.execute(sql_select_michael_ordered)

In [ ]:
# List the results of the query
list(results)

### LIMIT Modifier

In [ ]:
# Use the LIMIT modifier to control the number of data entries returned
sql_select_michael_ordered_limit = """
SELECT first_name, age
FROM customers
WHERE first_name = 'Michael'
ORDER BY age
LIMIT 5
"""

# Execute the sql statement
results = engine.execute(sql_select_michael_ordered_limit)

# List the results of the SQL query
list(results)

## INSERT Queries

In [ ]:
# INSERT query structure
#   INSERT INTO <table_name>
#   (<column_name>, ..., <column_name>)
#   VALUES
#   (<some_value>, ..., <some_value>)

In [ ]:
# INSERT data into the sql database
sql_insert = """
INSERT INTO customers
    (customer_id, first_name, last_name, age, zip_code, mortgage_id)
VALUES
    ('1000', 'Jane', 'Smith', '42', '12345', '9999')
"""

In [ ]:
# Execute the sql insert statement
engine.execute(sql_insert)

In [ ]:
# Confirm that the data was inserted with a SELECT statement
sql_stmt = """
SELECT *
FROM customers
WHERE first_name = 'Jane'
AND last_name = 'Smith'
"""

# Execute the sql statement
results = engine.execute(sql_stmt)

# List the results of the query
list(results)

## UPDATE Queries

In [ ]:
# UPDATE syntax
#   UPDATE <table_name>
#   SET <column_name> = <some_value>, ..., <column_name> = <some_value>
#   WHERE <some_condition>

In [ ]:
# UPDATE data in a database table
sql_update = """
UPDATE customers
SET first_name = 'Stacey'
WHERE customer_id = 3
"""

In [ ]:
# Execute the sql update statement
engine.execute(sql_update)

In [ ]:
# SELECT data in the table to review
sql_stmt = """
SELECT *
FROM customers
WHERE customer_id = 3
"""

# Execute the sql statement
results = engine.execute(sql_stmt)

# List the results of the SQL query
list(results)

## DELETE Queries

In [ ]:
# DELETE syntax
#   DELETE FROM <table_name>
#   WHERE <some_condition>

In [ ]:
# DELETE data from the customers table
sql_delete = """
DELETE
FROM customers
WHERE customer_id = 1000
"""

# Execute the sql delete statement
engine.execute(sql_delete)

In [ ]:
# SELECT data from the table to review the deletion
sql_stmt = """
SELECT * FROM customers
"""

# Execute the sql statement
results = engine.execute(sql_stmt)

# List the results of the query
list(results)